<a href="https://colab.research.google.com/github/knightligh/ROBOT-HOMEWORK-WEEK-3/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url='http://winterolympicsmedals.com/medals.csv'
dataframe=pd.read_csv(url)

#dataframe=dataframe.set_index(dataframe['NOC'])
#dataframe.loc['FIN']
#print('the total of medals:  ',dataframe['medals'].count())
dataframe.groupby('NOC')['Medal'].count()
#dataframe.groupby('Discipline')['Medal'].count()
dataframe[(dataframe['Event']=='individual')&(dataframe['Medal']=='Gold')&(dataframe['NOC']=='USA')]#loc co nhieu dieu kien

#tim so huy chuong cua tung QG 
#tim so huy chuong vang cua tung mon thi ca nhan

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
86,1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Gold
246,1948,St. Moritz,Skating,Figure skating,USA,individual,M,Gold
311,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
386,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
388,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,W,Gold
462,1960,Squaw Valley,Skating,Figure skating,USA,individual,M,Gold
464,1960,Squaw Valley,Skating,Figure skating,USA,individual,W,Gold
674,1968,Grenoble,Skating,Figure skating,USA,individual,W,Gold
887,1976,Innsbruck,Skating,Figure skating,USA,individual,W,Gold
1119,1984,Sarajevo,Skating,Figure skating,USA,individual,M,Gold
1257,1988,Calgary,Skating,Figure skating,USA,individual,M,Gold
1428,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
1815,1998,Nagano,Skating,Figure skating,USA,individual,W,Gold
2028,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,M,Gold
2029,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,W,Gold
2037,2002,Salt Lake City,Skating,Figure skating,USA,individual,W,Gold